
.home h1{
   font-size: 50px;
   font-family: Star Jedi;
	}
   .home p1{
      font-size: 18px;
   }
   .home p{

     text-indent: 30px;
     text-align: justify;
     
     font-size: 23px;
   }

     .home {
      
      margin: auto;
     }